include README.md
include LICENSE.txt
include requirements/requirements.txt
include src/pathpy/py.typed
recursive-exclude tests *
include versioneer.py
include src/pathpy/_version.py
include src/_pathpy/*.h